<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- scripts import -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}"></script>
<!-- style import -->
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />

<title>新規登録入力画面</title>

</head>
<body>
  <div class="wrap">
    <main class="bg-gray-light container">
    <div class="d-flex justify-content-end search-page-top-bar">
      <h3 class="text-white col-2_5" th:inline="text">ユーザーID: [[${session.user}]]</h3>
      <a th:href="@{/logout}" class="btn btn-danger col-1_5">ログアウト</a>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${msg != null}">
      <p th:text="${msg}">
    </div>
      <div class="card registration-container">
	      <div class="title">
	        <h2 class="text-dark">新規IDを作成します</h2>
	      </div>
        <form action="#"th:action="@{/registration}" th:object="${registrationForm}" method="post">
          <div class="row mb-3">
            <label for="id" class="col-sm-3 col-form-label">ID:</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{id}" id="id" class="form-control" value="test" th:errorclass="is-invalid" required autofocus>
              <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="invalid-feedback"></div>
            </div>
          </div>
                    <div class="row mb-3">
          <div class="button-confirm-id">
            <button id="loginButton" type="submit" name="checkId" class="btn btn-primary">IDが使用できるか確認</button>
          </div>
          </div>
          <div class="row mb-3">
            <label for="id" class="col-sm-3 col-form-label">パスワード:</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{password}" id="password" class="form-control" value="test" th:errorclass="is-invalid" autofocus>
              <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="id" class="col-sm-3 col-form-label">パスワード再入力:</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{rePassword}" id="rePassword" class="form-control" value="test" th:errorclass="is-invalid" autofocus>
              <div th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">名前:</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{name}" id="name" class="form-control" value="test" th:errorclass="is-invalid" autofocus>
              <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="kana" class="col-sm-3 col-form-label">カナ:</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{kana}" id="kana" class="form-control" value="test" th:errorclass="is-invalid" autofocus>
              <div th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="kana" class="col-sm-3 col-form-label">生年月日(yyyy/mm/dd):</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{birth}" id="birth" class="form-control" value="test" th:errorclass="is-invalid" autofocus>
              <div th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="kana" class="col-sm-3 col-form-label">委員会:</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{club}" id="club" class="form-control" value="test" th:errorclass="is-invalid" autofocus>
              <div th:if="${#fields.hasErrors('club')}" th:errors="*{club}" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="registration-button-position">
            <button id="loginButton" type="submit" class="btn btn-primary">登録します</button>
            <a class="btn btn-primary" th:href="@{/search}">戻る</a>
          </div>
        </form>
      </div>
    </main>
  </div>
</body>
</html>
